<div class="page-content">
  <div class="page-header position-relative">
    <h1>
      Listing
      <small>
        <i class="fa fa-angle-double-right"></i>
        Item Listing per categories
      </small>
    </h1>
  </div><!--/.page-header-->

  <div class="row-fluid">
    <div class="span12">
      <!--PAGE CONTENT BEGINS-->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Listing</h3>
        </div><!-- /.box-header -->
        <div class=" box-body">
          <%= form_for "Item", :url => filter_item_admin_items_path, :id => "", :remote => true do %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="filter-left">Filters</span>
                <span class="filter-right">View Page</span>
              </div>
              <div class="panel-body">
                <div class="filter-left">
                  <div class="col-lg-3">
                    <div class="form-group input-group" style="margin:0">
                    <% if @items.each {|item| item.item_category.blank?} %>
                      <%= select_tag "item_category_id", options_for_select(@items.collect{|item| [item.item_category.name, item.item_category.id] }.uniq), :class => "form-control status_filter", :prompt => "All" %>
                    <% else %>
                    	<%= select_tag(:limit, options_for_select([ ["Empty", "Empty"] ], :selected=> "Empty"),{:class => "form-control limit_filter"})  %></td>
                    <% end %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group input-group" style="margin:0">
                      <%= text_field_tag "name", "", :class => "form-control name_filter", :placeholder => "Item Name" %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group input-group" style="margin:0">
                      <%= text_field_tag "username", "", :class => "form-control username_filter", :placeholder => "Username" %>
                      <%= hidden_field_tag "sort_filter", @state, :class => "form-control sort_filter" %>
                    </div>
                  </div>
                </div>
                <div class="filter-right">
                  <div class="col-lg-2">
                    <div class="form-group input-group" style="margin:0">
                      <!-- <label>Status</label> -->
                     <%= select_tag(:limit, options_for_select([ ["All", "All"], ["5", "5"], ["25", "25"], ["10", "10"], ["50", "50"], ["100", "100"]], :selected=> "25"),{:class => "form-control limit_filter"})  %></td>
                    </div>
                  </div>
                  <div class="col-lg-1">
                    <%= submit_tag "Apply",:class => "form-control btn btn-small"%>
                  </div>
                </div>                    
              </div>
            </div>
          <% end %>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="box-body filter-content">
          <%= render :partial => 'item_list'%>
        </div><!-- /.box-body -->
      </div>
    </div><!--/.span-->
  </div><!--/.row-fluid-->
</div><!--/.page-content-->
<!--basic scripts-->
<%= content_for(:extra_js) do %>
	<script type="text/javascript">
		window.jQuery || document.write("<script src='/assets/admin/jquery-2.0.3.min.js'>"+"<"+"/script>");
	</script>

	<!--<![endif]-->

	<script type="text/javascript">
		if("ontouchend" in document) document.write("<script src='/assets/admin/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>
	<!--inline scripts related to this page-->

	<script type="text/javascript">
	$( document ).ready(function() {
	    image_translation();
	    $('body').on("click", ".pagination a", function(e){
	      var state = $(".sort_filter").val();
	      var name = $(".name_filter").val();      
	      var username = $(".username_filter").val();
	      var limit = $(".limit_filter").val();

	      $.get("/admin/items/option_item?"+this.href.split("?")[1]+"&state="+ state +"&name="+ name +"&username="+ username +"&limit="+ limit, null, null, "script");
	      return false;
	    });
	});

		$(function() {
		
			$('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
				var color_class = $(this).find('option:selected').data('class');
				var new_class = 'widget-header';
				if(color_class != 'default')  new_class += ' header-color-'+color_class;
				$(this).closest('.widget-header').attr('class', new_class);
			});
		
		
			// scrollables
			$('.slim-scroll').each(function () {
				var $this = $(this);
				$this.slimScroll({
					height: $this.data('height') || 100,
					railVisible:true
				});
			});

			// Portlets (boxes)
		  //   $('.widget-container-span').sortable({
		  //       connectWith: '.widget-container-span',
				// items:'> .widget-box',
				// opacity:0.8,
				// revert:true,
				// forceHelperSize:true,
				// placeholder: 'widget-placeholder',
				// forcePlaceholderSize:true,
				// tolerance:'pointer'
		  //   });
		});
		var arr = []
		for (i = 0; i < 4; i++) { 
			arr.push(slide_show(i))
		}

		function image_translation() {
			var x = '<%= @items.count %>';
			for (i = 0; i < x; i++) {
				var sum_img = $('#slide_'+i).find("img").length
				if (sum_img > 1) {
					$('#slide_'+i).addClass("run");
					if ($('#slide_'+i).hasClass("run")) {
						slideshow(i);
					}
				}
			}
		}

		function slideshow(i){
			$("#slide_"+i+" > div:gt(0)").hide();

			setInterval(function() { 
			  $('#slide_'+i+' > div:first')
			    .fadeOut(1000)
			    .next()
			    .fadeIn(1000)
			    .end()
			    .appendTo('#slide_'+i);
			},  3000);
		}
	</script>

<% end %>
<!--[if !IE]>-->

