<div class="table-responsive">
  <table id="example1" class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th class="col-md-2">Order Number</th>
        <th class="col-md-2">Buyer</th>
        <th class="col-md-2">Seller</th>
        <th class="col-md-2">Status</th>
        <th class="col-md-3">Total Price</th>
        <th class="col-md-3">Created at</th>
      </tr>
    </thead>
    <tbody>
      <% unless @order.blank? %>
        <% @order.each do |i| %>
          <tr>
            <td><%= i.order_id %></td>
            <td><%= i.user.full_name %></td>
            <td><%= i.item.user.full_name %></td>
            <td><%= i.status %></td>
            <td><%= i.subtotal.to_i %></td>
            <td><%= i.created_at.strftime("%b %d %Y") %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">No Record!</td>
        </tr>
      <% end %>
    </tbody>
  </table>  
  <%= paginate @order, remote: :true %>
</div>