<section id="login" class="warp">
  <div class="container reset-password">
  	<div class="row">
	    <div class="col-xs-12">
    	    <div class="form-wrap">
          <% if flash[:notice] %>
            <div class="notice"><h1><%= flash[:notice] %></h1></div>
          <% end %>
            <h1>Your New Password</h1>
            <%= form_for @user, url: update_password_path(params[:moch]), method: :put do |f| %>
              <div class="form-group">
                <%= f.password_field :password, id: "password", class: "form-control", placeholder: "New Password"%>
              </div>
              <div class="form-group">
                <%= f.password_field :confirm_password, id: "confirm-password", class: "form-control", placeholder: "Confirm New Password"%>
              </div>
              <div class="checkbox">
                <input id="show" type="checkbox" class="character-checkbox">
                <span class="label">Show password</span>
              </div>
              <%= f.submit "Reset Password", class: "btn btn-custom btn-lg btn-block" %>
            <% end %>
  	    </div>
  		</div> <!-- /.col-xs-12 -->
  	</div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
<%= content_for(:extra_js) do %>
  <script type="text/javascript">
  $(function(){
    $("#show").click(function(){
      if( $("#show:checked").length > 0 ){
        var pswd = $("#password").val();
        $("#password").attr("id","password2");
        $("#password2").after( $("<input type='text' id='password' class='form-control' placeholder='New Password'>") );
        $("#password2").remove();
        $("#password").val( pswd );

        var confpswd = $("#confirm-password").val();
        $("#confirm-password").attr("id","confirm-password2");
        $("#confirm-password2").after( $("<input type='text' id='confirm-password' class='form-control' placeholder='Confirm New Password'>") );
        $("#confirm-password2").remove();
        $("#confirm-password").val( confpswd );
      }
      else{ // vice versa
        var pswd = $("#password").val();
        $("#password").attr("id","password2");
        $("#password2").after( $("<input type='password' id='password' class='form-control' placeholder='New Password'>") );
        $("#password2").remove();
        $("#password").val( pswd );

        var confpswd = $("#confirm-password").val();
        $("#confirm-password").attr("id","confirm-password2");
        $("#confirm-password2").after( $("<input type='password' id='confirm-password' class='form-control' placeholder='Confirm New Password'>") );
        $("#confirm-password2").remove();
        $("#confirm-password").val( confpswd );
      }
    });
  })
  </script>
<% end %>