<table cellspacing="0" border="0" cellpadding="0" width="100%">	
	<tr>
		<td>
			<table cellspacing="0" bgcolor="#fff" width="100%" cellpadding="0", style="border-bottom: 2px solid #ff0000;">
				<tr>
					<td height="50" valign="top">
						<table cellspacing="0" align="center" width="100%" cellpadding="0">
							<tr>
								<td class="header-text" align="center" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 5px 20px;">
									<a href="" class="" style="color: #00ffff; text-decoration: none; display:inline-block"><%= image_tag attachments['tuckbox_logo.png'].url, :style => "max-width: 40px; vertical-align:middle;" %>&nbsp;&nbsp;&nbsp;<strong style="font-size: 18px;color: #db1417;vertical-align:middle; margin-left:5px">TUCKERBOX</strong></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr>
		<td>
			<table cellspacing="0" width="100%" cellpadding="0" >
				<tr>
					<td valign="top">
						<table cellspacing="0" align="center" width="600" cellpadding="0">
							<tr>
								<td class="main-title" style="padding: 60px 20px 10px 20px; font-family: Proxima Nova,Sans-serif; letter-spacing: 1px;" colspan="2">
									<h3 style="font-weight: 400"> Hi,
										<font color="#ff0000" style="font-weight: bold"> <%= @item.user.full_name.titleize %></font><br>
									</h3>
									<p style="text-align:justify; padding-bottom:8px; font-size: 14px">Sorry, your item <span style="font-weight: bold;font-size: 15px;"><%= @item.name.titleize%></span> has <%= @item.status.titleize + "ed" %> because <%= @item.reports.collect{|r| r.comment}.join(", ")%><br>
									We found it here: <a href="<%= "#{WEB_URL}/#{@item.user.permalink}/#{@item.permalink}" %>" target="_blank"><%= "#{WEB_URL}/#{@item.user.permalink}/#{@item.permalink}" %></a><br><br>
									<% if @item.status == "suspend" %>
										Please check and change the reported issue and we will review soon.<br><br>
										We will block your item if there is no response or your issue still exist.<br><br><br>
									<% else %>
										We have warned you and there is still no respond or your issue still exists.<br>
										Thanks for your participation.<br><br><br>
									<% end %>
										Regards,<br>
										Admin
								  </p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0px 20px 30px 20px; font-family: Proxima Nova,Sans-serif; letter-spacing: 1px;">
									<h4 style="font-weight:bold; color:#ff0000; display:inline-block;">- Team TuckerBox -</h4>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	
	<tr>
		<td valign="top">
			<table cellspacing="0" width="100%" cellpadding="0">
				<tr>
					<td valign="top">
						<table cellspacing="0" width="100%" cellpadding="0">
							<tr>
								<td class="copyright" align="center" valign="top" style="color: #FFF; font-family: Verdana; font-size: 12px; text-align: center; line-height: 20px; padding:5px 0" bgcolor="#ff0000">
									<p>If you didn't create a TuckerBox account using this e-mail address, <a href="mailto:support@tuckerbox.es" style="font-weight:bold; color:#5f5f5f" target="_top">let us know</a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>